{% assign ssw_manual_uninstall = shop.metafields.ssw['manual_uninstall'] | plus: 0 %}
{% assign ssw_script_tags_allowed = shop.metafields.ssw['script_tags_allowed'] | plus: 0 %}
{% if content_for_header contains 'ssw-empty.js' or ssw_manual_uninstall == 1 or ssw_script_tags_allowed != 1 %}
    {% if product %}
        {% assign ssw_review_enabled = 1 %}
        {% if shop.metafields.ssw['review_enabled'] %}
            {% assign ssw_review_enabled = shop.metafields.ssw['review_enabled'] | plus: 0 %}
        {% endif %}
        {% assign ssw_questions_enabled = 0 %}
        {% if shop.metafields.ssw['questions_enabled'] %}
            {% assign ssw_questions_enabled = shop.metafields.ssw['questions_enabled'] | plus: 0 %}
        {% endif %}
        {% assign ssw_unite_reviews = 0 %}
        {% if shop.metafields.ssw['unite_reviews'] %}
            {% assign ssw_unite_reviews = shop.metafields.ssw['unite_reviews'] | plus: 0 %}
        {% endif %}
        <div id="ssw-avg-rate-profile-html" data-product-id="{{ product.id }}">
            {% assign ssw_reviews_widget_show = 0 %}
            {% if shop.metafields.ssw.settings %}
                {% assign ssw_reviews_widget_show = shop.metafields.ssw['settings'].reviews_widget_show | plus: 0 %}
            {% endif %}

            {% if ssw_review_enabled == 1 %}
                {% assign ssw_count_rate = 0 %}
                {% assign ssw_avg_rate = 0 %}
                {% assign ssw_rate_data_key = 'review' %}
                {% if ssw_unite_reviews == 1 %}
                    {% if shop.metafields.ssw['unite_product_ids'] %}
                        {% assign ssw_unite_product_ids = shop.metafields.ssw['unite_product_ids'] | split: ',' %}
                        {% assign unite_product_id = product.id | downcase %}
                        {% if ssw_unite_product_ids contains unite_product_id %}
                            {% assign ssw_rate_data_key = 'unite_review' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if product.metafields.ssw[ssw_rate_data_key] %}
                    {% assign ssw_count_rate = product.metafields.ssw[ssw_rate_data_key].count | plus: 0 %}
                    {% assign ssw_avg_rate = product.metafields.ssw[ssw_rate_data_key].avg | plus: 0 %}
                    {% assign ssw_product_id = product.id %}
                    {% if product.metafields.ssw[ssw_rate_data_key].product_id %}
                        {% assign ssw_product_id = product.metafields.ssw[ssw_rate_data_key].product_id | plus: 0 %}
                    {% endif %}
                    {% if ssw_product_id != product.id %}
                        {% assign ssw_count_rate  = 0 %}
                        {% assign ssw_avg_rate = 0 %}
                    {% endif %}
                {% endif %}

                {% if ssw_reviews_widget_show == 1 %}
                    {% assign ssw_review_star_color = '#000' %}
                    {% if shop.metafields.ssw.css_variables.ssw_lb_hover_bg_color_star %}
                        {% assign ssw_review_star_color = shop.metafields.ssw.css_variables.ssw_lb_hover_bg_color_star %}
                    {% else %}
                        {% assign ssw_review_star_color = shop.metafields.ssw.css_variables.gw_main_color %}
                    {% endif %}
                    <div class="ssw-stars ssw-stars-large">
                        {% if ssw_count_rate == 0 %}
                            {% for i in (1..5) %}
                                <svg class="ssw-icon-star-empty" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.6129 6.02831L15.6129 6.02835L15.6172 6.02857C15.6781 6.03173 15.726 6.07093 15.7439 6.13896C15.7611 6.20431 15.7448 6.28389 15.6651 6.34346L15.6571 6.34944L15.6496 6.35603L11.8262 9.72108L11.8186 9.72777L11.8116 9.73505C11.6488 9.90356 11.5596 10.1611 11.6191 10.4072L11.6193 10.4082L12.8751 15.5121C12.8751 15.5123 12.8751 15.5124 12.8752 15.5126C12.896 15.5994 12.8618 15.6728 12.8055 15.7155C12.75 15.7575 12.6864 15.7621 12.6292 15.7237L12.6272 15.7224L8.3471 12.9151C8.13208 12.7605 7.83443 12.7605 7.61941 12.9151L3.33932 15.7224L3.33931 15.7224L3.33731 15.7237C3.28007 15.7621 3.21656 15.7575 3.16105 15.7155C3.10471 15.6728 3.07053 15.5994 3.09134 15.5126C3.09138 15.5124 3.09141 15.5123 3.09145 15.5121L4.3472 10.4082L4.34745 10.4072C4.40244 10.1795 4.3504 9.90749 4.14106 9.72174L4.14031 9.72108L0.316896 6.35603L0.316937 6.35598L0.312642 6.35237C0.25396 6.30301 0.235924 6.22789 0.260398 6.15189C0.285302 6.07456 0.34178 6.03183 0.404766 6.02857L0.404768 6.02861L0.409119 6.02831L5.37018 5.68468C5.64633 5.68036 5.8765 5.49295 5.96394 5.25486L7.84716 0.36226L7.84723 0.362289L7.84937 0.356282C7.8758 0.282035 7.93277 0.25 7.9948 0.25C8.05756 0.25 8.12356 0.283809 8.15728 0.364827L10.0403 5.25688L10.044 5.26652L10.0485 5.27582C10.1577 5.5018 10.3587 5.6537 10.6145 5.68312L10.6144 5.68338L10.6258 5.68416L15.6129 6.02831Z" stroke="{{ ssw_review_star_color }}" stroke-width="0.5"/>
                                </svg>
                            {% endfor %}
                        {% else %}
                            {% assign ssw_j = ssw_avg_rate | floor %}
                            {% for i in (1..ssw_j) %}
                                <svg class="ssw-icon-star" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.6301 5.77891L10.643 5.43475C10.4768 5.41563 10.3475 5.32004 10.2736 5.16708L8.38961 0.272455C8.24184 -0.0908182 7.74314 -0.0908182 7.61384 0.272455L5.72984 5.16708C5.67443 5.32004 5.52667 5.43475 5.36043 5.43475L0.391844 5.77891C0.0224321 5.79803 -0.143803 6.29514 0.151726 6.54369L3.97514 9.90875C4.10443 10.0235 4.14137 10.1955 4.10443 10.3485L2.84843 15.4534C2.75608 15.8358 3.16243 16.1417 3.47643 15.9314L7.76161 13.1208C7.8909 13.0252 8.07561 13.0252 8.2049 13.1208L12.4901 15.9314C12.8041 16.1417 13.2104 15.8358 13.1181 15.4534L11.8621 10.3485C11.8251 10.1955 11.8806 10.0235 11.9914 9.90875L15.8148 6.54369C16.1473 6.29514 15.9995 5.79803 15.6301 5.77891Z" fill="{{ ssw_review_star_color }}"/>
                                </svg>
                            {% endfor %}
                            {% assign ssw_rate_last_star = 5 | minus:ssw_avg_rate %}
                            {% assign ssw_y = ssw_rate_last_star | floor %}
                            {% assign ssw_x = ssw_avg_rate | minus:ssw_j %}
                            {% if ssw_x > 0.74 %}
                                <svg class="ssw-icon-star" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.6301 5.77891L10.643 5.43475C10.4768 5.41563 10.3475 5.32004 10.2736 5.16708L8.38961 0.272455C8.24184 -0.0908182 7.74314 -0.0908182 7.61384 0.272455L5.72984 5.16708C5.67443 5.32004 5.52667 5.43475 5.36043 5.43475L0.391844 5.77891C0.0224321 5.79803 -0.143803 6.29514 0.151726 6.54369L3.97514 9.90875C4.10443 10.0235 4.14137 10.1955 4.10443 10.3485L2.84843 15.4534C2.75608 15.8358 3.16243 16.1417 3.47643 15.9314L7.76161 13.1208C7.8909 13.0252 8.07561 13.0252 8.2049 13.1208L12.4901 15.9314C12.8041 16.1417 13.2104 15.8358 13.1181 15.4534L11.8621 10.3485C11.8251 10.1955 11.8806 10.0235 11.9914 9.90875L15.8148 6.54369C16.1473 6.29514 15.9995 5.79803 15.6301 5.77891Z" fill="{{ ssw_review_star_color }}"/>
                                </svg>
                            {% else %}
                                {% if ssw_x > 0.24 %}
                                    <svg class="ssw-icon-star-half-alt" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M15.6129 6.02831L15.6129 6.02835L15.6172 6.02857C15.6781 6.03173 15.726 6.07093 15.7439 6.13896C15.7611 6.20431 15.7448 6.28389 15.6651 6.34346L15.6571 6.34944L15.6496 6.35603L11.8262 9.72108L11.8186 9.72777L11.8116 9.73505C11.6488 9.90356 11.5596 10.1611 11.6191 10.4072L11.6193 10.4082L12.8751 15.5121C12.8751 15.5123 12.8751 15.5124 12.8752 15.5126C12.896 15.5994 12.8618 15.6728 12.8055 15.7155C12.75 15.7575 12.6864 15.7621 12.6292 15.7237L12.6272 15.7224L8.3471 12.9151C8.13208 12.7605 7.83443 12.7605 7.61941 12.9151L3.33932 15.7224L3.33931 15.7224L3.33731 15.7237C3.28007 15.7621 3.21656 15.7575 3.16105 15.7155C3.10471 15.6728 3.07053 15.5994 3.09134 15.5126C3.09138 15.5124 3.09141 15.5123 3.09145 15.5121L4.3472 10.4082L4.34745 10.4072C4.40244 10.1795 4.3504 9.90749 4.14106 9.72174L4.14031 9.72108L0.316896 6.35603L0.316937 6.35598L0.312642 6.35237C0.25396 6.30301 0.235924 6.22789 0.260398 6.15189C0.285302 6.07456 0.34178 6.03183 0.404766 6.02857L0.404768 6.02861L0.409119 6.02831L5.37018 5.68468C5.64633 5.68036 5.8765 5.49295 5.96394 5.25486L7.84716 0.36226L7.84723 0.362289L7.84937 0.356282C7.8758 0.282035 7.93277 0.25 7.9948 0.25C8.05756 0.25 8.12356 0.283809 8.15728 0.364827L10.0403 5.25688L10.044 5.26652L10.0485 5.27582C10.1577 5.5018 10.3587 5.6537 10.6145 5.68312L10.6144 5.68338L10.6258 5.68416L15.6129 6.02831Z" stroke="{{ ssw_review_star_color }}" stroke-width="0.5"/>
                                            <path d="M5.9759 5.25178L7.75 0.650935V12.8546C7.72038 12.868 7.69509 12.8812 7.67551 12.8914C7.67109 12.8937 7.66696 12.8959 7.66314 12.8979L7.65171 12.9038L7.64095 12.9108L3.34679 15.7223L3.34678 15.7222L3.34477 15.7236C3.2871 15.7621 3.22301 15.7575 3.16719 15.7153C3.1106 15.6725 3.07649 15.5992 3.09729 15.5125C3.09733 15.5123 3.09736 15.5122 3.0974 15.5121L4.35578 10.4066L4.35603 10.4056C4.41118 10.1777 4.35894 9.90551 4.14923 9.71977L4.14848 9.71911L0.317047 6.35305L0.317088 6.353L0.312791 6.3494C0.253901 6.29996 0.235936 6.2249 0.260405 6.14905C0.285308 6.07186 0.341932 6.02881 0.405565 6.02552L0.405567 6.02556L0.40991 6.02526L5.3814 5.68152C5.65763 5.67722 5.88822 5.49007 5.9759 5.25178Z" fill="{{ ssw_review_star_color }}" stroke="{{ ssw_review_star_color }}" stroke-width="0.5"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="16" height="16" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                {% else %}
                                    {% if ssw_x > 0 %}
                                        {% assign ssw_y = ssw_y | plus:1 %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% for i in (1..ssw_y) %}
                                <svg class="ssw-icon-star-empty" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.6129 6.02831L15.6129 6.02835L15.6172 6.02857C15.6781 6.03173 15.726 6.07093 15.7439 6.13896C15.7611 6.20431 15.7448 6.28389 15.6651 6.34346L15.6571 6.34944L15.6496 6.35603L11.8262 9.72108L11.8186 9.72777L11.8116 9.73505C11.6488 9.90356 11.5596 10.1611 11.6191 10.4072L11.6193 10.4082L12.8751 15.5121C12.8751 15.5123 12.8751 15.5124 12.8752 15.5126C12.896 15.5994 12.8618 15.6728 12.8055 15.7155C12.75 15.7575 12.6864 15.7621 12.6292 15.7237L12.6272 15.7224L8.3471 12.9151C8.13208 12.7605 7.83443 12.7605 7.61941 12.9151L3.33932 15.7224L3.33931 15.7224L3.33731 15.7237C3.28007 15.7621 3.21656 15.7575 3.16105 15.7155C3.10471 15.6728 3.07053 15.5994 3.09134 15.5126C3.09138 15.5124 3.09141 15.5123 3.09145 15.5121L4.3472 10.4082L4.34745 10.4072C4.40244 10.1795 4.3504 9.90749 4.14106 9.72174L4.14031 9.72108L0.316896 6.35603L0.316937 6.35598L0.312642 6.35237C0.25396 6.30301 0.235924 6.22789 0.260398 6.15189C0.285302 6.07456 0.34178 6.03183 0.404766 6.02857L0.404768 6.02861L0.409119 6.02831L5.37018 5.68468C5.64633 5.68036 5.8765 5.49295 5.96394 5.25486L7.84716 0.36226L7.84723 0.362289L7.84937 0.356282C7.8758 0.282035 7.93277 0.25 7.9948 0.25C8.05756 0.25 8.12356 0.283809 8.15728 0.364827L10.0403 5.25688L10.044 5.26652L10.0485 5.27582C10.1577 5.5018 10.3587 5.6537 10.6145 5.68312L10.6144 5.68338L10.6258 5.68416L15.6129 6.02831Z" stroke="{{ ssw_review_star_color }}" stroke-width="0.5"/>
                                </svg>
                            {% endfor %}
                        {% endif %}
                        <span class="ssw-review-count">
                {% if ssw_count_rate == 0 %}
                    {{ 'socialshopwave.write_a_review' | t }}
                {% else %}
                    {% if ssw_count_rate == 1 %}
                        {{ 'socialshopwave.quantity_review2' | t: ssw_count_rate: ssw_count_rate }}
                    {% else %}
                        {{ 'socialshopwave.quantity_reviews2' | t: ssw_count_rate: ssw_count_rate }}
                    {% endif %}
                {% endif %}
              </span>
                    </div>
                {% endif %}
            {% endif %}
            {% if ssw_questions_enabled == 1 and ssw_review_enabled == 1 %}
                <div class="ssw-question-count">
                    {% if ssw_reviews_widget_show == 1 %}
                        <span class="ssw-rq-divider">|</span>
                    {% endif %}

                    <span>
          {% assign ssw_question_count = 0 %}
                        {% if product.metafields.ssw.question %}
                            {% assign ssw_question_count_key = 'question' %}
                        {% else %}
                            {% assign ssw_question_count_key = product.id | append: '_question_count' %}
                        {% endif %}
                        {% if product.metafields.ssw[ssw_question_count_key] %}
                            {% assign ssw_product_id = product.id %}
                            {% if ssw_question_count_key contains 'question_count' %}
                                {% assign ssw_question_count = product.metafields.ssw[ssw_question_count_key] %}
                            {% else %}
                                {% assign ssw_question_count = product.metafields.ssw[ssw_question_count_key].count | plus: 0 %}
                                {% assign ssw_product_id = product.metafields.ssw[ssw_question_count_key].product_id | plus: 0 %}
                            {% endif %}
                            {% if ssw_product_id != product.id %}
                                {% assign ssw_question_count = 0 %}
                            {% endif %}
                        {% endif %}
                        {% if ssw_question_count == 0 %}
                            <svg class="gw-icon-chat" width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.11481 20.2785C1.49213 18.3731 0.000125885 15.6278 0.000125885 12.6665C0.000125885 7.15182 5.23344 2.6665 11.6668 2.6665C16.8588 2.6665 21.3468 5.52919 22.8375 9.78919C22.9588 10.1372 22.7762 10.5172 22.4282 10.6385C22.0802 10.7598 21.7015 10.5758 21.5789 10.2292C20.2961 6.56113 16.2201 3.99982 11.6668 3.99982C5.9695 3.99982 1.3335 7.88782 1.3335 12.6665C1.3335 15.3492 2.79219 17.8398 5.33481 19.5012C5.61881 19.6865 5.7175 20.0545 5.56681 20.3572L4.91481 21.6625L6.8015 20.5838C6.97619 20.4838 7.18419 20.4705 7.37219 20.5398C8.2855 20.8918 9.27219 21.1305 10.3015 21.2478C10.6668 21.2891 10.9295 21.6198 10.8882 21.9851C10.8469 22.3504 10.5295 22.6158 10.1509 22.5718C9.12019 22.4558 8.12688 22.2278 7.19356 21.8958L3.66556 23.9118C3.56156 23.9718 3.44825 23.9998 3.33488 23.9998C3.16819 23.9998 3.00288 23.9371 2.87619 23.8171C2.66288 23.6158 2.6055 23.2971 2.7375 23.0344L4.11481 20.2785Z" fill="black"/>
<path d="M22 11.9985C27.5147 11.9985 32 15.5865 32 19.9985C32 22.3758 30.6573 24.6412 28.38 26.1532L29.2867 28.4185C29.3894 28.6758 29.3227 28.9692 29.1187 29.1572C28.9934 29.2732 28.832 29.3332 28.668 29.3332C28.5667 29.3332 28.464 29.3105 28.368 29.2625L25.0627 27.6092C24.06 27.8679 23.0307 27.9985 22 27.9985C16.4853 27.9985 12 24.4105 12 19.9985C12 15.5865 16.4853 11.9985 22 11.9985ZM22.0027 26.6665C22.9987 26.6665 23.992 26.5292 24.956 26.2585C25.116 26.2145 25.2867 26.2292 25.4347 26.3038L27.3987 27.2852L26.936 26.1305C26.8133 25.8238 26.9333 25.4745 27.2187 25.3078C29.4107 24.0278 30.668 22.0932 30.668 19.9998C30.668 16.3238 26.78 13.3332 22.0013 13.3332C17.2226 13.3332 13.336 16.3238 13.336 19.9998C13.336 23.6758 17.224 26.6665 22.0027 26.6665Z" fill="black"/>
</svg>{{ 'socialshopwave.ask_question' | t }}
                        {% else %}
                            {% if ssw_question_count == 1 %}
                                <svg class="gw-icon-chat" width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.11481 20.2785C1.49213 18.3731 0.000125885 15.6278 0.000125885 12.6665C0.000125885 7.15182 5.23344 2.6665 11.6668 2.6665C16.8588 2.6665 21.3468 5.52919 22.8375 9.78919C22.9588 10.1372 22.7762 10.5172 22.4282 10.6385C22.0802 10.7598 21.7015 10.5758 21.5789 10.2292C20.2961 6.56113 16.2201 3.99982 11.6668 3.99982C5.9695 3.99982 1.3335 7.88782 1.3335 12.6665C1.3335 15.3492 2.79219 17.8398 5.33481 19.5012C5.61881 19.6865 5.7175 20.0545 5.56681 20.3572L4.91481 21.6625L6.8015 20.5838C6.97619 20.4838 7.18419 20.4705 7.37219 20.5398C8.2855 20.8918 9.27219 21.1305 10.3015 21.2478C10.6668 21.2891 10.9295 21.6198 10.8882 21.9851C10.8469 22.3504 10.5295 22.6158 10.1509 22.5718C9.12019 22.4558 8.12688 22.2278 7.19356 21.8958L3.66556 23.9118C3.56156 23.9718 3.44825 23.9998 3.33488 23.9998C3.16819 23.9998 3.00288 23.9371 2.87619 23.8171C2.66288 23.6158 2.6055 23.2971 2.7375 23.0344L4.11481 20.2785Z" fill="black"/>
<path d="M22 11.9985C27.5147 11.9985 32 15.5865 32 19.9985C32 22.3758 30.6573 24.6412 28.38 26.1532L29.2867 28.4185C29.3894 28.6758 29.3227 28.9692 29.1187 29.1572C28.9934 29.2732 28.832 29.3332 28.668 29.3332C28.5667 29.3332 28.464 29.3105 28.368 29.2625L25.0627 27.6092C24.06 27.8679 23.0307 27.9985 22 27.9985C16.4853 27.9985 12 24.4105 12 19.9985C12 15.5865 16.4853 11.9985 22 11.9985ZM22.0027 26.6665C22.9987 26.6665 23.992 26.5292 24.956 26.2585C25.116 26.2145 25.2867 26.2292 25.4347 26.3038L27.3987 27.2852L26.936 26.1305C26.8133 25.8238 26.9333 25.4745 27.2187 25.3078C29.4107 24.0278 30.668 22.0932 30.668 19.9998C30.668 16.3238 26.78 13.3332 22.0013 13.3332C17.2226 13.3332 13.336 16.3238 13.336 19.9998C13.336 23.6758 17.224 26.6665 22.0027 26.6665Z" fill="black"/>
</svg>{{ 'socialshopwave.quantity_question' | t: ssw_question_count: ssw_question_count }}
                            {% else %}
                                <svg class="gw-icon-chat" width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.11481 20.2785C1.49213 18.3731 0.000125885 15.6278 0.000125885 12.6665C0.000125885 7.15182 5.23344 2.6665 11.6668 2.6665C16.8588 2.6665 21.3468 5.52919 22.8375 9.78919C22.9588 10.1372 22.7762 10.5172 22.4282 10.6385C22.0802 10.7598 21.7015 10.5758 21.5789 10.2292C20.2961 6.56113 16.2201 3.99982 11.6668 3.99982C5.9695 3.99982 1.3335 7.88782 1.3335 12.6665C1.3335 15.3492 2.79219 17.8398 5.33481 19.5012C5.61881 19.6865 5.7175 20.0545 5.56681 20.3572L4.91481 21.6625L6.8015 20.5838C6.97619 20.4838 7.18419 20.4705 7.37219 20.5398C8.2855 20.8918 9.27219 21.1305 10.3015 21.2478C10.6668 21.2891 10.9295 21.6198 10.8882 21.9851C10.8469 22.3504 10.5295 22.6158 10.1509 22.5718C9.12019 22.4558 8.12688 22.2278 7.19356 21.8958L3.66556 23.9118C3.56156 23.9718 3.44825 23.9998 3.33488 23.9998C3.16819 23.9998 3.00288 23.9371 2.87619 23.8171C2.66288 23.6158 2.6055 23.2971 2.7375 23.0344L4.11481 20.2785Z" fill="black"/>
<path d="M22 11.9985C27.5147 11.9985 32 15.5865 32 19.9985C32 22.3758 30.6573 24.6412 28.38 26.1532L29.2867 28.4185C29.3894 28.6758 29.3227 28.9692 29.1187 29.1572C28.9934 29.2732 28.832 29.3332 28.668 29.3332C28.5667 29.3332 28.464 29.3105 28.368 29.2625L25.0627 27.6092C24.06 27.8679 23.0307 27.9985 22 27.9985C16.4853 27.9985 12 24.4105 12 19.9985C12 15.5865 16.4853 11.9985 22 11.9985ZM22.0027 26.6665C22.9987 26.6665 23.992 26.5292 24.956 26.2585C25.116 26.2145 25.2867 26.2292 25.4347 26.3038L27.3987 27.2852L26.936 26.1305C26.8133 25.8238 26.9333 25.4745 27.2187 25.3078C29.4107 24.0278 30.668 22.0932 30.668 19.9998C30.668 16.3238 26.78 13.3332 22.0013 13.3332C17.2226 13.3332 13.336 16.3238 13.336 19.9998C13.336 23.6758 17.224 26.6665 22.0027 26.6665Z" fill="black"/>
</svg>{{ 'socialshopwave.quantity_questions' | t: ssw_question_count: ssw_question_count }}
                            {% endif %}
                        {% endif %}
          </span>
                </div>
            {% endif %}
            <div class="ssw-clearfix"></div>
        </div>
        <script type="text/javascript" defer>
            if (typeof sswRun === 'function') {
                sswRun(function () {
                    Ssw.gwAssetsManifestLoader.requireByKey("review.critical.css", "STYLE");
                    ssw('#ssw-avg-rate-profile-html .ssw-stars, #ssw-avg-rate-profile-html .ssw-question-count').click(function () {
                        if (ssw('#ssw-widget-recommends-html').length > 0) {
                            ssw('html, body').animate({scrollTop : ssw("#ssw-widget-recommends-html").offset().top - 40 }, 500);
                            if (ssw('#ssw-widget-recommends-html').find('.for_bot').length) {
                                var $self = ssw(this);
                                sswAddEventListener('reviewWidgetLoaded', function() {clickButton($self)});
                            } else {
                                clickButton(ssw(this));
                            }
                        }
                    });
                });
                function clickButton($element) {
                    if ($element.hasClass('ssw-stars')) {
                        if (ssw('.ssw-nav > li[data-content="#ssw-reviews-content"]').length) {
                            ssw('.ssw-nav > li[data-content="#ssw-reviews-content"]').click();
                        }
                        if (ssw("#add_recommend").length) {
                            ssw("#add_recommend").click();
                        }
                    } else if ($element.hasClass('ssw-question-count')) {
                        if (ssw('.ssw-nav > li[data-content="#ssw-questions-content"]').length || ssw('.ssw-photo-layout__main')) {
                            ssw('.ssw-nav > li[data-content="#ssw-questions-content"]').click();
                            if (ssw("a.ssw-ask-question-link.btn.button").length) {
                                ssw("a.ssw-ask-question-link.btn.button").click();
                            }
                            if (ssw('.ssw-ask-question-button').length) {
                                ssw('.ssw-ask-question-button').click();
                            }
                        }
                    }
                }
            }
        </script>
    {% endif %}
{% endif %}